.animated-button {
  position: relative;
  width: 50px;
  height: 50px;
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border: none;
  padding: 0;
}

@media (min-width: 640px) {
  .animated-button {
    width: 60px;
    height: 60px;
    border-radius: 60px;
  }
}

.animated-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  background: #DF986C;
  opacity: 0;
  transition: 0.5s;
}

.animated-button::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: #DF986C;
  transition: 0.5s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0;
}

.animated-button:hover {
  width: 200px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

@media (min-width: 640px) {
  .animated-button:hover {
    width: 240px;
  }
}

.animated-button:hover::before {
  opacity: 1;
}

.animated-button:hover::after {
  opacity: 0.5;
}

.animated-button-text {
  color: #000;
  font-size: 1.1em;
  font-weight: 600;
  transition: 0.5s;
  transition-delay: 0.25s;
  z-index: 1;
  font-family: var(--font-poppins), sans-serif;
  white-space: nowrap;
}

.animated-button:hover .animated-button-text {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
}

.animated-button-title {
  position: absolute;
  color: #fff;
  font-size: 1em;
  letter-spacing: 0.05em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
  z-index: 1;
  white-space: nowrap;
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
}

.animated-button:hover .animated-button-title {
  transform: scale(1);
  transition-delay: 0.25s;
}
