.animated-menu-list {
  display: flex;
  position: relative;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins), sans-serif;
}

.animated-menu-item {
  position: relative;
  width: auto;
  min-width: fit-content;
  height: 60px;
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding: 0 24px;
}

.animated-menu-item::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  background: #DF986C;
  opacity: 0;
  transition: 0.5s;
}

.animated-menu-item::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: #DF986C;
  transition: 0.5s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0;
}

.animated-menu-item:hover {
  width: auto;
  min-width: 220px;
  max-width: 280px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.animated-menu-item:hover::before {
  opacity: 1;
}

.animated-menu-item:hover::after {
  opacity: 0.5;
}

.animated-menu-text {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  transition: 0.5s;
  transition-delay: 0.25s;
  z-index: 1;
  font-family: var(--font-poppins), sans-serif;
  white-space: nowrap;
}

.animated-menu-item:hover .animated-menu-text {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
}

.animated-menu-title {
  position: absolute;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.05em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
  z-index: 1;
  white-space: nowrap;
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
}

.animated-menu-item:hover .animated-menu-title {
  transform: scale(1);
  transition-delay: 0.25s;
}
