.animated-nav-list {
  display: flex;
  position: relative;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins), sans-serif;
}

.animated-nav-item {
  position: relative;
  width: 60px;
  height: 60px;
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.animated-nav-item::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  background: #DF986C;
  opacity: 0;
  transition: 0.5s;
}

.animated-nav-item::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: #DF986C;
  transition: 0.5s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0;
}

.animated-nav-item:hover {
  width: 180px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.animated-nav-item:hover::before {
  opacity: 1;
}

.animated-nav-item:hover::after {
  opacity: 0.5;
}

.animated-nav-icon {
  color: #000;
  font-size: 1.75em;
  transition: 0.5s;
  transition-delay: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.animated-nav-item:hover .animated-nav-icon {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
}

.animated-nav-title {
  position: absolute;
  color: #fff;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
  z-index: 1;
  white-space: nowrap;
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
}

.animated-nav-item:hover .animated-nav-title {
  transform: scale(1);
  transition-delay: 0.25s;
}
